@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(./fonts/NotoSansKr/NotoSansKR-Thin.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Thin.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(./fonts/NotoSansKr/NotoSansKR-Light.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Light.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(./fonts/NotoSansKr/NotoSansKR-Regular.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Regular.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(./fonts/NotoSansKr/NotoSansKR-Medium.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Medium.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(./fonts/NotoSansKr/NotoSansKR-Bold.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Bold.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url(./fonts/NotoSansKr/NotoSansKR-Black.woff2) format('woff2'),
  url(./fonts/NotoSansKr/NotoSansKR-Black.woff) format('woff'),
  url(./fonts/NotoSansKr/NotoSansKR-Black.otf) format('opentype');
}



body {
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 0;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.sidebar-toggle {
  margin-left: -240px;
}

.sidebar {
  width: 260px;
  height: auto;
  min-height: 100%;
  background: #fff;
  position: absolute;
  border-right: 1px solid #ccc;
  transition: all 0.3s ease-in-out;
  z-index: 100;
}

.sidebar .menu-container ul,
.sidebar .menu-container ul ul {
  margin: -2px 0 0;
  padding: 0;
}

.sidebar .menu-container ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sidebar .menu-container ul > li:hover {
  background-color: #e3f0ff;
  text-decoration: none;
}

.sidebar .menu-container ul li a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 18px 0 18px 25px;
  font-size: 13px;
  outline: 0;
  transition: all 200ms ease-in;
}

.sidebar .menu-container ul li .menu-arrow {
  color: #333;
  margin: 4px 15px 0 0;
}

.sidebar .menu-container ul li .menu-icon {
  display: inline-block;
  margin-right: 10px;
}

.sidebar .menu-container ul ul li {
  background: #fff;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  border-bottom: none;
  position: relative;
}

.sidebar .menu-container ul ul li a {
  display: inline-block;
  position: relative;
  z-index: 100;
  width: 100%;
  color: #222;
  padding: 10px 0 10px 50px;
}

.sidebar .menu-container ul ul li:first-child a:before {
  height: 25px;
}

.sidebar .menu-container ul ul li.active {
  background-color: #e3f0ff;
}

.sidebar .menu-container ul ul li.active:after {
  display: block;
  content: '';
}

.sidebar .menu-container ul ul li.active:after {
  position: absolute;
  top: 13px;
  left: 30px;
  z-index: 100;
  width: 2px;
  height: 16px;
  background-color: #222;
}

.sidebar .menu-container ul ul li:last-child a:before {
  top: 0;
  bottom: auto;
  height: 25px;
}

.sidebar .menu-container ul ul li a:before {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 2px;
  height: 39px;
  background-color: rgba(0,0,0,.06);
}